<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="{{ "/assets/css/style.css" | relative_url }}">
</head>
<body>
    <div class="wrapper">
        {{ content }}
    </div>
    
    <!-- Nach oben Button -->
    <a href="#markdown-toc" id="back-to-top">Nach oben</a>

    <script>
        // Script, um den Button bei Scrollen einzublenden
        const backToTopButton = document.getElementById("back-to-top");

        window.onscroll = function() {
            if (document.body.scrollTop > 200 || document.documentElement.scrollTop > 200) {
                backToTopButton.style.display = "block"; // Zeigt den Button nach Scrollen an
            } else {
                backToTopButton.style.display = "none"; // Versteckt den Button, wenn man oben ist
            }
        };
    </script>
</body>
</html>
